# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=

# Snowflake
SNOWFLAKE_ACCOUNT=PLHVTTI-MWC64694
SNOWFLAKE_ORG=PLHVTTI
SNOWFLAKE_USER=YASEEN
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WH=COMPUTE_WH
SNOWFLAKE_DB=HACKATHON_IOT

# PostgreSQL (populated after cdk deploy)
PG_HOST=
PG_PORT=5432
PG_DB=iotdb
PG_USER=iot_user
PG_PASSWORD=

# MSK (populated after cdk deploy)
MSK_BOOTSTRAP_SERVERS=
